RAG G0OGLE DOCS.json
{
  "name": "RAG G0OGLE DOCS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1IjEP9oTf_7amnXplxEmS27ZMjMlPZt8M",
          "mode": "list",
          "cachedResultName": "rag-supabase-1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IjEP9oTf_7amnXplxEmS27ZMjMlPZt8M"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -80
      ],
      "id": "abf67041-1689-4ec5-8e0a-86ad47a9fae9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DHKLntmE4z5xoHpK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d95e7b2-826b-4c1f-b2bf-5f5c06cfd829",
              "name": "={{ $json.id }}",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -80
      ],
      "id": "7f016f60-f493-40f9-8279-de96de66af40",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        -80
      ],
      "id": "06b0be8b-919c-4c0a-b5ba-cfa919b7425c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DHKLntmE4z5xoHpK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        560,
        -80
      ],
      "id": "09e8d500-a550-410f-9ebf-df0215531d02",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        784,
        -80
      ],
      "id": "5cb37205-ed66-47b4-b102-8c3c98d2ca19",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Rneh6CXXD1U7QctG",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        272
      ],
      "id": "e74ff596-f912-48eb-9133-6086eae463e9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "rtSDxoN02slwpPyN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Google Drive Trigger').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        128
      ],
      "id": "470d6cc7-385c-47f0-872a-abd1b9330220",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1040,
        304
      ],
      "id": "fdd2a9ac-8886-4e9c-853c-23716707b0e8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Perkenalkan Saya adalah Chatbot Alfan Yang sangat cerdas",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        528
      ],
      "id": "c66a9438-e307-4b09-a2e2-23e84f32531a",
      "name": "When chat message received",
      "webhookId": "3e186d10-8310-4b2c-8229-46b10cf761fe"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu Asisten penulisan ilmiah tugas akhir atau skripsi.\nKamu dapat menjawab dengan mengacu informasi yang tersedia di data vektor pada tool \"Supabase Vektor Store.\"\nJika Informasi tidak tersedia di tool itu jawablah, \"Mohon Maaf , saya belum dapat memberikan jawaban.\" "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        528
      ],
      "id": "e36e29cc-5db1-4e22-9cf3-2512e93d68d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        768
      ],
      "id": "3a3c810e-691a-493c-ad76-1141ca8a30bb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rtSDxoN02slwpPyN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan Tool ini untuk menjawab pertanyaan untuk menjawab pertanyaan tentang TA",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        784
      ],
      "id": "0138d427-b4fa-4a70-84d6-a517853f5553",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Rneh6CXXD1U7QctG",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        208,
        784
      ],
      "id": "434c2b39-12b8-4860-a50f-d76f6407003c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "LGDte5hAQ3c4oRDh",
          "name": "Postgres account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9579d4b0-3ae3-471f-9e39-b1f44edba031",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28e56bb7c581f77e2d9f0ec03b2a212c62131df3b33d21adbf5f3bbab5dbd6be"
  },
  "id": "9UZebTcDOOw6BdpA",
  "tags": []
}